DEBUG=false
NODE_ENV=production
ALLOW_BOTS_IN_COMMANDS=false
DISCORD_TOKEN=
COMMAND_PREFIX=m!
BOT_NAME=Myst
PAUSE_BETWEEN_COMMANDS=2500
BOT_SUPPORT_SERVER=CV5jh5g
DB_HOST=
DB_USER=
DB_PASS=
DB_DATABASE=